[submodule "pack/pda/start/jellybeans.vim"]
	path = pack/pda/start/jellybeans.vim
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "pack/pda/start/vim-go"]
	path = pack/pda/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "pack/pda/start/vim-fugitive"]
	path = pack/pda/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/pda/start/vim-surround"]
	path = pack/pda/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/pda/start/vim-rhubarb"]
	path = pack/pda/start/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb
[submodule "pack/pda/start/typescript-vim"]
	path = pack/pda/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "pack/pda/start/deoplete.nvim"]
	path = pack/pda/start/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim
[submodule "pack/pda/start/deoplete-go"]
	path = pack/pda/start/deoplete-go
	url = https://github.com/deoplete-plugins/deoplete-go
[submodule "pack/pda/start/ale"]
	path = pack/pda/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "pack/pda/start/vim-terraform"]
	path = pack/pda/start/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule "pack/pda/start/fzf"]
	path = pack/pda/start/fzf
	url = https://github.com/junegunn/fzf
[submodule "pack/pda/start/fzf.vim"]
	path = pack/pda/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
