[submodule "pack/pda/start/jellybeans.vim"]
	path = pack/pda/start/jellybeans.vim
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "pack/pda/start/ctrlp.vim"]
	path = pack/pda/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "pack/pda/start/vim-go"]
	path = pack/pda/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "pack/pda/start/vim-fugitive"]
	path = pack/pda/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
